/*------------------------------------------------------------------
/*------------------------------------------------------------------
[Table of contents]

[ Body ]
[ Header / header ]
[ Slideshow / .slideshow ]
[ commontop / .commontop ]
[ order / .order ]
[ about / .about ]
[ menu / .menu ]
[ dish / .dish ]
[ reservation / .reservation ]
[ gallery / .gallery ]
[ blog / .blog ]
[ newsletter / .newsletter ]
[ footer / .footer ]
[ header2 / .header2 ]
[ bread-crumb / .bread-crumb ]
[ banner / .banner ]
[ pagination / .pagination ]
[ abouts / .abouts ]
[ login / .login ]
[ thanks / .thanks ]
[ reserved / .reserved ]
[ service / .service ]
[ team / .team ]
[ contactus / .contactus ]
[ blog-detail / .blog-detail ]
[ testinner / .testinner ]
[ shop / .shop ]
[ shopdetail / .shopdetail ]
[ Mycart / .mycart ]
[responsive]
-------------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'segoeui';
	font-style: normal;
	font-weight: normal;
	src: local('segoeui'), url('../fonts/segoeui.woff') format('woff');
}
/*----------
[ Body ]
-------------*/
body{
	font-family: 'segoeui';
	font-weight:400;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
}
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none ; 
    outline-offset: none;
	box-shadow:none;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none ;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: none ;
}
a.cta {
	background-color: #FFA41F;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 15px;
	padding: 5px 10px;
	transition: all .5s;
}
a.cta:hover {
	background-color: #b36e07;
}
.owl-wrapper-outer{
	background:none ;
	box-shadow:none ;
	border:none ;
	border-radius:0px ;
}
.owl-carousel, .owl-nav{
	background:none ;
	margin:0 ;
}
.paddleft{
	padding-left:0px;
}
.padd0{
	padding:0px;
}
.paddright{
	padding-right:0;
}
.pt {
	padding-top: 25px;
}
.mar-b{
	margin-bottom:80px;
}
.flex-center {
	display: flex;
	justify-content:space-evenly;
}
.btn-primary{
	background:transparent;
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
	font-size:16px;
	border-radius:4px;
	border:1px solid #fff; 
	height:50px;
}
.btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus{
	background:#FFA41F;
	border:1px solid #FFA41F; 
}
.des{
	font-size:14px;
	font-weight:400;
	color:#999;
	line-height:24px;
}
.bottom-top:hover .icofont{
	color:#fff;
}
.bottom-top:hover {
	transition-duration: 1s;
    transition-timing-function: linear;
}
.bottom-top {
	display: none;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	border-radius:4px;
	padding:8px;
}
.bottom-top .icofont{
	font-size:20px;
	color:#fff;
}
.bottom-top{
	background:#FFA41F;
}
/*--------------------
[ Header / header ]
---------------------*/

/*--------------------------------- 
[ Slideshow / .slideshow ]
----------------------------------- */

/*--------------------------------- 
[ commontop / .commontop ]
----------------------------------- */
/* .commontop h4{
	font-size:24px;
	font-weight:700;
	color:#000;
	text-transform:uppercase;
	margin:50px 0 24px;
}
.commontop p{
	font-size:14px;
	font-weight:400;
	color:#686868;
	margin:0 10% 24px;
}
.commontop hr{
	border-top:2px solid #FFA41F;
	margin:0 auto 50px;
	width:100px;
}
/*--------------------------------- 
[ order / .order ]
----------------------------------- */
.order .search-icon{
	position:relative;
	text-align:center;
}
.order .search-icon .form-group{
	margin:0;
	display: inline-block;
}
.order .search-icon input {
    width:auto;
    box-shadow: none ;
    outline-offset: 0 ;
    height: 50px;
}
.order .search-icon .btn {
	background:#FFA41F;
	font-size:16px;
	font-weight:700;
	color:#fff;
	height:50px;
	padding:12px 20px;
	vertical-align: top;
	margin-left: 15px;
	display: inline-block;
}
.order .search-icon .btn i{
    margin-right:16px;
}
.order ul{
	margin:50px 0 0;
}
.order ul li{
	padding:0 80px 0 0;
	display:inline-block;
}
.order ul li:last-child{
	padding:0 0px 0 0;
}
.order ul li i{
	font-size:36px;
	color:#686868;
}
.order ul li p{
	font-size:16px;
	color:#686868;
	margin:15px 0 0 0; 
	font-style:italic;
}
.order img{
	margin:0 auto 80px;
} 
/*--------------------- 
[ about / .about ]
----------------------- */
.about{
	background:url("../images/cctvlg.jpg") 50% 50% no-repeat;
	background-color: rgba(34, 34, 34, 0.4);
	background-blend-mode: darken; 
	width:100%;
	height:621px;
	display: flex;
	justify-content: center;
}
.about p{
	color: #fff;
}
.about  hr{
	margin-bottom: 10px;
	background-color: #fff;
}
.about h3{
	color: #fff;
	padding-bottom: 5px;
	text-align: center;
}
.about .intro {
	width: 80%;
}
/*--------------------- 
[ menu / .menu ]
----------------------- */


/*--------------------------------
[ gallery / .gallery ]
---------------------------------- */
.gallery .product-thumb {
	margin-bottom:30px;
	overflow: hidden;
    position: relative;
}
.gallery .product-thumb .image{
	position:relative;
}
.gallery .product-thumb .image img{
	border-radius:4px;
}
.gallery .product-thumb .image .hoverbox{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.48);
	opacity:0;
	top:0;
	cursor:pointer;
}
.gallery .product-thumb:hover .hoverbox{
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	transition:all 1.5s ease;
	opacity:1;
}

.gallery .product-thumb .image .show{
	position:absolute;
	text-align:center;
	left:0;
	right:0;
	top:40%;
}
.gallery .product-thumb .image .show i {
	color:#FFA41F;
	font-size:60px;
	cursor:pointer;
	transition: transform 0.35s ease 0s;
}
.gallery #myModal{
	background: rgba(0, 0, 0, 0.70) none repeat scroll 0 0;
}
.gallery #myModal .controls{
	position: absolute;
	font-size: 18px; 
	color: #fff; 
	top:50%;
}
.gallery #myModal .previous{
	left:-50px;
	font-size:36px;
}
.gallery #myModal .next{
	right:-50px;
	font-size:36px;
}
.gallery #myModal .modal-body{
	padding:0px;
}	
.gallery #myModal .modal-body img{
	width:100%;
}	
.gallery #myModal button.close {
   position:absolute;
   top:-5%;
   right:0;
   font-size:24px;
   color:#fff;
   opacity:100;
}
.gallery .btn-primary{
	margin:20px 0 0;
	border:1px solid #E5E5E5;
	color:#000;
	width:161px;
}
.gallery .btn-primary:hover{
	border:1px solid #FFA41F;
	color:#fff;
}
/*-----------------
[ blog / .blog ]
------------------- */
.bloggs{
	background:url(../images/blog_bg.jpg) center center no-repeat;
	height:800px;
}
.blog{
	margin:15px 0;
}
.blog .box{
	margin-bottom:50px;
}
.blog .box img{
	border-radius:4px 4px 0 0;
}
.blog .box .caption{
	background:#fff;
	border:1px solid #E5E5E5;
	border-top:0;
	border-radius:0 0 4px 4px;
	padding:30px 20px;
}
.blog .box .caption h4{
	font-size:18px;
	font-weight:600;
	color:#000;
	margin:0 0 10px;
}
.blog .box .caption .text{
	font-size:14px;
	font-weight:400;
	color:#B2B2B2;
	margin:0 0 15px;
}
.blog .box .caption .des{
	color:#757575;
	margin:0 0 30px;
}
.blog .box .caption .btn-primary{
	border:1px solid #e5e5e5;
	color:#000;
	width:139px;
	font-size:14px;
	height:40px;
}
.blog .box .caption .btn-primary:hover{
	border:1px solid #FFA41F;
	color:#fff;
}

/*----------------------
[ footer / .footer ]
------------------------ */
footer{
	background:#3b5997;
}
footer .inner{
	padding:73px 0 80px;
}
footer .inner h5{
	color:#fff;
	font-size:20px;
	font-weight:600;
	margin:0 0 42px;
	text-transform:uppercase;
	line-height:12px;
}
footer .inner ul{
	margin:0;
}
footer .inner li{
	padding:0 0 20px;
}
footer .inner li:last-child{
	padding:0 0 0px;
}
footer .inner li a, footer .inner li{
	font-size:14px;
	color:#fff;
	line-height:14px;
}
footer .inner .contact li a{
	line-height:22px;
}
footer .inner .contact li a i{
	color:#FFA41F;
	margin-right:15px;
	float:left;
	line-height: 24px;
}
footer .inner .contact li:first-child a i{
	margin-bottom: 40px;
}
footer .powered{
	padding:0 0 25px;
}
footer .powered hr{
	border-top:1px solid rgba(255, 255, 255, 0.25);
	margin:0 0 44px;
}
footer .powered p{
	color:#fff;
	font-size:14px;
	margin:22px 0 0 ;
}
footer .powered p span{
	color:#FFA41F;
}
footer .powered .social{
	margin:22px 0 0;
}
footer .powered .social li{
	padding:0 20px 0 0;
	line-height:14px;
	display:inline-block;
}
footer .powered .social li:last-child{
	padding:0 0px 0 0;
}
footer .powered .social li a{
	color:#fff;
	font-size:16px;
}
footer .powered .social li a:hover i{
	color:#FFA41F;
}
/*----------------------
[ header2 / .header2 ]
------------------------ */

/*--------------------------------- 
[ bread-crumb / .bread-crumb ]
----------------------------------- */
.bread-crumb{
	position:relative;
}
.bread-crumb img{
	width:100%;
	height:235px;
}
.bread-crumb .matter{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
	text-align:center;
	margin:0 auto;
	width:244px;
	background: rgba(0, 0, 0, 0.35);
	padding:15px 0;
}
.bread-crumb .matter h2{
	color:#fff;
	font-size:30px;
	font-weight:700;
	margin:0;
	text-transform:uppercase;
}
.bread-crumb .matter ul{
	margin:0;
}
.bread-crumb .matter li{
	padding:0px;
	text-transform:uppercase;
	display:inline-block;
}
.bread-crumb .matter li:after {
	content: '/';
	padding: 0 2px 0 6px;
	color:#fff;
}
.bread-crumb .matter li:last-child:after {
	content: '';
}
.bread-crumb .matter  li a{
	color:#fff;
	font-size:15px;
	font-weight:600; 
}
/*--------------------------------- 
[ banner / .banner ]
----------------------------------- */
.banner{
	position:relative;
}
.banner .bg{
	width:100%;
}
.banner .matter{
	position:absolute;
	bottom:45px;
	left:0;
	right:0;
	text-align:center;
	margin:0 auto;
}
.banner .crumb{
	text-align:center;
	margin:0 auto 80px;
	width:266px;
	background: rgba(0, 0, 0, 0.35);
	padding:15px 0;
}
.banner .crumb h2{
	color:#fff;
	font-size:30px;
	font-weight:700;
	margin:0;
	text-transform:uppercase;
}
.banner .crumb ul{
	margin:0;
}
.banner .crumb li{
	padding:0px;
	text-transform:uppercase;
	display:inline-block;
}
.banner .crumb li:after {
	content: '/';
	padding: 0 2px 0 6px;
	color:#fff;
}
.banner .crumb li:last-child:after {
	content: '';
}
.banner .crumb  li a{
	color:#fff;
	font-size:15px;
	font-weight:600; 
}
.banner .order img, .banner .order ul{
    display:none;
}
/*--------------------------------- 
[ pagination / .pagination ]
----------------------------------- */
.pagination{
	margin: 0;
}
.pagination li:first-child a, .pagination li:last-child a{
	padding:11px 14px; 
	text-transform:uppercase;
}
.pagination li  a{
    padding:14px 10px;
    color: #000;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
	font-size:14px;
	font-weight:700;
	line-height:16px;
	border-radius:4px;
}
.pagination li  a i{
	font-size:22px;
	vertical-align:middle;
}
.pagination li  a:hover, .pagination  li span:hover, .pagination li a:focus, .pagination li span:focus{
	background:#FFA41F;
	color:#fff;
	border-color: #FFA41F;
} 
.pagination .active  a, .pagination  .active  span, .pagination  .active > a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active > span:focus {
    background-color: #FFA41F;
    border-color: #FFA41F;
}
/*--------------------- 
[ abouts / .abouts ]
----------------------- */
.abouts{
	/* background:url("../images/cam1920.jpg") center center no-repeat; */
	width:100%;
	height:621px;
}
.abouts .commontop p{
	margin:0 0 24px;
}
.abouts .commontop hr{
	margin:0 0 50px;
}
.abouts .des{
	margin:0 0 50px;
	color: #686868;
}
.abouts .btn-primary{
	background:#FFA41F;
	border:1px solid #FFA41F;
	width:161px;
} 
/*--------------------
[ login / .login ]
---------------------- */

/*--------------------
[ thanks / .thanks ]
---------------------- */
.thanks{
	margin:130px 0; 
}
.thanks img{
	margin:0 auto;
}
.thanks h2{
	font-size:50px;
	font-weight:700;
	color:#FFA41F;
	margin:50px 0;
}
.thanks p{
	font-size:14px;
	font-weight:400;
	color:#686868;
	margin:0 0 50px;
}
.thanks .btn-primary{
	width:190px;
	background:#FFA41F;
	border:1px solid #FFA41F;
}
/*--------------------------------
[ reserved / .reserved ]
---------------------------------- */
.reserved  form .form-group{
	margin-bottom:30px;
}
.reserved img{
	border-radius:4px;
}
.reserved  form .form-control {
	background:transparent;
	text-transform:uppercase;
	min-height:45px;
	color:#686868;
	padding:8px 20px;
}
.reserved  form .bootstrap-select .btn {
	background:transparent;
	text-transform:uppercase;
	min-height:45px;
	color:#686868;
	padding:8px 20px;
	border:1px solid #ddd;
}
.reserved  .bootstrap-select .dropdown-menu.inner{
	display:block;
}
.reserved  .bootstrap-select .dropdown-menu > li > a{
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.reserved  .bootstrap-select .dropdown-toggle::after{
	border:none;
}
.reserved  form textarea{
	height:142px;
}
.reserved form .icofont {
    position: absolute;
    right: 18px;
    padding: 15px 12px;
    color: #FFA41F;
}
.reserved form .bootstrap-select{
	padding:0;
}
.reserved form .bootstrap-select .btn i{
	right:0;
	top:0;
}
.reserved .btn-primary{
	width:161px;
	margin:20px 0 0;
	border:1px solid #FFA41F;
	background:#FFA41F;
}
/*--------------------------------
[ service / .service ]
---------------------------------- */
.service .box{
	margin-bottom:50px;
}
.service .box img{
	margin:0 auto 24px;
}
.service .box h4{
	font-size:18px;
	font-weight:600;
	color:#000;
	margin:0 0 15px;
}
.service .box p{
	font-size:14px;
	font-weight:400;
	color:#686868;
	margin:0;
}
.video{
	margin-top:30px;
}
/*---------------------
[ team / .team ]
----------------------- */
.team{
	margin-bottom:80px;
}
.team .box .caption{
	border:1px solid #e5e5e5;
	border-top:0;
	padding:20px 10px;
}
.team .box .caption h4{
	font-size:18px;
	font-weight:600;
	color:#000;
	margin:0 0 20px;
}
.team .box .caption p{
	font-size:14px;
	font-weight:400;
	color:#686868;
	margin:0;
}
.team ul{
	margin:0 0 24px;
}
.team ul li{
	margin-right:10px;
	padding:7px 7px;
	border-radius:50%;
	background:#ccc;
	width:40px;
	height:40px;
	display:inline-block;
}
.team ul li:last-child{
	margin-right:0px;
}
.team ul li a{
	color:#fff;
}
.team ul li:first-child:hover{
	background: #3b5997;
}
.team ul li:nth-child(2):hover{
	background: #1da1f3;
}
.team ul li:nth-child(3):hover{
	background: #de4b39;
}
.team ul li:last-child:hover{
	background: #8039b3;
}
/*--------------------------------- 
[ contactus / .contactus ]
----------------------------------- */
.contactus{
	margin:80px 0;
}
.contactus iframe{
	width:100%;
	height:500px;
	border:0;
	margin-bottom:80px;
}
.contactus  form .form-group{
	margin-bottom:30px;
}
.contactus img{
	border-radius:4px;
}
.contactus  form .form-control {
	background:transparent;
	text-transform:uppercase;
	height:45px;
	color:#686868;
	padding:0 0 0 20px;
}
.contactus  form textarea{
	height:190px ;
	padding:6px 0 0 20px;
}
.contactus form .icofont {
    position: absolute;
    right: 18px;
    padding: 15px 12px;
    color: #FFA41F;
}
.contactus .btn-primary{
	width:190px;
	background:#FFA41F;
	border:1px solid #FFA41F;
	margin:20px 0 0;
}
.map {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}
.address{
	margin:0 0 80px;
}
.address .box{
	border:1px solid #e5e5e5;
	padding: 10px;
	height:190px;
	width: 220px;
}
.address .box .icon{
	background:#FFA41F;
	border-radius:50%;
	width:60px;
	height:60px;
	padding:18px;
	margin:0 auto 20px;
}
.address .box .icon i{
	font-size:24px;
	color:#fff;	
}
.address .box h4{
	font-size:18px;
	font-weight:600;
	color:#000;
	margin:0 0 10px;
}
.address .box p{
	font-size:14px;
	font-weight:400;
	color:#696969;
	margin:0;
}
.address .box p a{
	color:#696969;
}
.address .social{
	padding:19px 21px;
}
.address .social h4{
	text-align:center;
	margin:0 0 24px;
}
.address .social ul{
	margin:0;
}
.address .social ul li {
	width:40px;
	height:40px;
	margin:0 10px 10px 0;
	padding:8px;
	border-radius:50%;
	text-align: center;
	display:inline-block;
}
.address .social ul li a{  
	color:#fff;
}
.address .social ul li a i{  
	font-size:18px;
}
.address .social ul li:first-child {
	background:#3b5999;
}
.address .social ul li:nth-child(2) {
	background:#1da1f3;
}
.address .social ul li:nth-child(3) {
	background:#de4b39;
}
.address .social ul li:nth-child(4) {
	background:#843ab5;
}
.address .social ul li:nth-child(5) {
	background:#be071d;
}
.address .social ul li:nth-child(6) {
	background:#eb4724;
}
.address .social ul li:last-child {
	background:#cf2120;
}


